
*,
*::before,
*::after {
    box-sizing: border-box;
}

*:focus:not(:focus-visible) {
    outline: none;
}

.unscrollable {
    overflow: hidden;
}

/*базовый шрифт - 10 пиекселей*/
html, body {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

h1,h2,h3,h4,h5,h6 {
    padding: 0;
    margin: 0;
}

.container {
    width: 120rem;
    margin: 0 auto;
}

.header__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
}

ul {
    padding-left: 0;
}

ul > li {
    list-style: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain; /*растянуть изображение*/
}

.header__telephone-img {
    width: 2rem;
    height: 2rem;
}

.header__maps-img {
    width: 1.5rem;
    height: 2.5rem;
}

.header__inst-img {
    width: 3rem;
    height: 3rem;
}

.header {
    background: linear-gradient(269.91deg, rgba(46, 49, 146, 0.7) 0%, rgba(212, 20, 90, 0.7) 98.16%);
    color: white;
    padding-top: 2.3rem; /*= 23px / 10, где 10 - это 1 rem*/
    padding-bottom: 2.6rem;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 63%;
}

.header__telephone, .header__maps, .header__inst {
    display: flex;
    align-items: center;
}

.header__telephone-img, .header__maps-img, .header__inst-img {
    margin-right: 1.5rem;
}

.header__inst span {
    line-height: 100%;
}

.header__telephone-text span:nth-child(1){
    margin-right: 1.2rem;
}

.main-display__top {
    padding-top: 4.7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-display__logo {
    display: flex;
    align-items: center;
}

.main-display__logo-img {
    width: 10rem;
    height: 6rem;
    margin-right: 1.1rem;
}

.main-display__nav {
    display: flex;
}

.main-display__nav li {
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 117%;
}

.main-display__nav li:not(:last-child) {
    margin-right: 2.5rem;
}

.main-display__title {
    font-style: italic;
    font-weight: 900;
    font-size: 3.6rem;
    line-height: 117%;
}

.main-display__center {
    display: flex;
    justify-content: space-between;
    background-image: url('../img/background_1.png');
    background-size: contain;
    background-repeat: no-repeat;    
}

.main-display__left {
    padding-top: 19rem;

}

.main-display__right {
    width: 53.3rem;
    height: 68.6rem;
}

.main-display__header {
    font-weight: 900;
    font-size: 5rem;
    line-height: 118%;
    margin-bottom: 1rem;
    margin: 0;
}

.main-display__subheader {
    font-weight: 300;
    font-size: 2.4rem;
    line-height: 117%;
    margin-bottom: 0.5rem;
}

.main-display__button {
    background: linear-gradient(95.2deg, #B90160 2.23%, #2E3192 99.51%);
    border-radius: 0.7rem;
    font-weight: 900;
    font-size: 2rem;
    line-height: 115%;
    text-align: center;
    padding: 1.5rem 3rem;
    outline: none;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    text-transform: uppercase;
}

.about {
    background-image: url('../img/background_2.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0 15rem;
    padding-bottom: 22.5rem;
}

.about__items {
    /* display: flex;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: repeat(3, 29%);
    gap: 0 6.1rem;
}

.about__item {
    /* width: 28%; */
    box-shadow: 0px 0px 40px rgba(184, 0, 95, 0.2);
    border-radius: 1rem;
    overflow: hidden;
}

.about__header {
    margin-bottom: 10rem;
    font-size: 5rem;
    line-height: 118%;
    font-weight: 300;
    text-align: center;
}

.about__item-header {
    font-weight: bold;
    font-size: 3.6rem;
    line-height: 117%;
}

.about__item-text {
    font-weight: 300;
    line-height: 114%;
    color: #767676;
    font-size: 1.4rem;
}

.about__item-description {
    background: #FFFFFF;
    padding: 5%;
}

/*градиент для текста!!!*/
.about__header span {
    background: linear-gradient(95.2deg, #B90160 2.23%, #2E3192 99.51%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about__item-img {
    width: 100%;
    height: 21.5rem;
}

.about__item-img img {
    object-fit: cover;
}

.review {
    background: linear-gradient(94.31deg, rgba(212,20,90,0.25) 0.96%, rgba(46,49,146,0.25) 104.83%);
    /* margin-top: 8rem; */
}

.review__slide {
    min-height: 25rem;
    background: #FFFFFF;
    box-shadow: 0 0 3rem rgba(0,0,0,0.25);
    border-radius: 1rem;
    padding: 6.3rem 4.5rem 5rem 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.review__wrapper {
    padding-top: 9rem;
    padding-bottom: 5rem;
}

.review__slide-text {
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 117%;
    text-align: center;
    margin-bottom: 5rem;
}

.review__slide-name {
    font-weight: 300;
    font-size: 1.3rem;
    line-height: 115%;
}

.review__slide-text::after {
    content: '';
    display: block;
    background: linear-gradient(95.2deg, #B90160 2.23%, #2E3192 99.51%);
    height: 0.2rem;
    width: 13rem;
    position: absolute;
    top: 67%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*есть толковій ресурс для clip-path - генератор!!!*/
.review__slide-foto {
    clip-path: polygon(50% 5%, 98% 31%, 98% 69%, 50% 96%, 1% 67%, 1% 33%);
    width: 10.5rem;
    height: 12.5rem;
    background-color: #FFFFFF;
}

.review__slide-img {
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%, 45%);
    clip-path: polygon(50% 0, 100% 30%, 100% 70%, 50% 100%, 0 70%, 0 30%);
    width: 11.5rem;
    height: 13rem;
    background: linear-gradient(95.2deg, #B90160 2.23%, #2E3192 99.51%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__header {
    margin-bottom: 1rem;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 114%;
}

.footer {
    position: relative;
}

.footer__wrap {
    padding: 0 12.3rem;
    display: flex;
    justify-content: space-between;
    align-items: top;
    font-size: 1.2rem;
    padding-top: 17.2rem;
    padding-bottom: 8.4rem;
}

.footer__address ul {
    max-width: 22.4rem;
}
/*TODO: добавить отступі между номерами телефоноі*/

.footer__inst-img {
    width: 3.3rem;
    height: 3.3rem;
}

.footer__decor-1 {
    position: absolute;
    left: 20%;
    top: 47%;
    transform: translate(-50%, -50%);
    width: 11rem;
    height: 12.5rem;
}

.footer__decor-2 {
    position: absolute;
    left: 77%;
    top: 47%;
    transform: translate(-50%, -50%);
    width: 23.3rem;
    height: 26.4rem;
}

.footer__wrap li {
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 114%;
}

body.modal {
    overflow: hidden;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    display: none;
    overflow-y: auto;
    overflow-x: hidden; /*пряем скролл по оси Х*/
    backdrop-filter: blur(4rem); /*размітие фона ???*/
    padding: 3rem 0;
    z-index: 100;
}

.modal__inner {
    width: 118rem;
    height: 45rem;
    margin: 0 auto;
    background: #FFFFFF url('../img/modal_back.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0rem 0rem 3.5rem rgba(212,20,90,0.25);
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal__inner-header {
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 117%;
    text-align: center;
    margin-bottom: 3.2rem;
}

.modal__inner-elements {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.modal__item {
    display: flex;
    justify-content: space-between;
    width: 75rem;
}

.modal__item-long {
    width: 100%;
    min-height: 8rem;
}

.modal__item:first-child{
    margin-bottom: 1.7rem;

}

.modal__wrap-input {
    width: 36rem;
    min-height: 5rem;
}

.modal__input {
    width: 100%;
    height: 100%;
    outline: none;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 114%;
    color: #989898;
    padding-left: 2.1rem;
    padding-right: 2.1rem;
    border: 1px solid;
    border-radius: .7rem;
}

/*стилизация плейсхолдера - через псевдоєлемент placeholder*/

.modal__message {
    width: 100%;
    outline: none;
    resize: none;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 114%;
    padding: 1rem 2.1rem;
    border-radius: .7rem;
}

.modal__button {
    max-width: 17rem;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 115%;
    padding: 1rem 3rem;
}

.modal__policy {
    display: flex;
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 1.6rem;
    line-height: 115%;
}

.modal__policy input {
    margin-bottom: 2rem;
    width: 2rem;
    height: 2rem;
    margin-right: 2rem;
}

.modal__policy a {
    text-decoration: none;
}

.active {
    display: flex;
}

/*адаптивность*/
@media (max-width: 1199px) {
    .container {
        width: 80%;
        margin: 0 auto;
    }

    .header__telephone-text {
        font-size: 1.2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 2.2rem;
    }

    .main-display__center {
        height: 38rem;
    }

    .main-display__subheader {
        font-size: 2.4rem;
        line-height: 118%;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .main-display__left {
        padding-top: 7rem;
    }

    .main-display__right {
        height: auto;
    }

    .review__slide-img {
        top: -50%;
    }

    .footer__wrap {
        padding: 8.5rem 0 4rem;
    }

    .footer .container {
        padding-left: 3rem;
    }

    .about {
        padding-top: 5rem;
        padding-bottom: 12rem;
    }

    .modal__inner {
        width: 84%;
    }

    .modal__inner-elements {
        width: 90%;
    }

    .modal__item {
        width: 100%;
    }

    .modal__wrap-input {
        width: 48%;
    }
}

@media (max-width: 768px) {

    .container {
        width: 100%;
        padding-left: 6rem;
        padding-right: 3rem;
    }

    .header__inst {
        font-size: 1.4rem;
    }

    .header__inst span {
        max-width: 10rem;
    }

    .main-display__nav {
        display: none;
    }

    .main-display__header {
        font-size: 4rem;
        line-height: 100%;
    }

    .main-display__button {
        margin-top: 2rem;
        font-size: 1.5rem;
    }

    .about__items {
        display: grid;
        grid-template-columns: 1fr;
        gap: 6.1rem 0;
    }

    .review {
        padding: 1rem 3rem;
    }

    .review__slide {
        min-height: 18rem;
    }

    .review__slide-img {
        top: -60%;
    }
}

@media (max-width: 600px) {
    .container {
        width: 100%;
        padding: 0 1rem;
    }

    .main-display__center {
        height: auto;
    }

    .main-display__left {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-display__right {
        display: none;
    }

    .main-display__header, .main-display__subheader {
        text-align: center;
    }

    .main-display__button {
        margin: 0 auto;
    }

    .header__wrap {
        flex-direction: column;
        justify-content: space-between;
    }

    .header__telephone-text {
        height: 3rem;
    }

    .header__maps {
        margin-top: 2rem;
    }

    .header__maps-img, .header__inst {
        display: none;
    }

    .about__items {
        padding: 0 3rem;
    }

    .review__slide-img {
        top: -55%;
    }

    .footer__wrap {
        flex-direction: column;
        margin: 0 auto;
        padding: 3rem 0;
        align-items: center;
    }

    .footer__address ul {
        max-width: 17.4rem;
    }

    .footer h3 {
        margin: 1.2rem 0;
        text-align: center;
    }

    .footer__inst-img {
        width: 100%;;
    }

    .footer__telephone {
        order: 1;
    }

    .footer__inst {
        order: 2;
    }

    .footer__address {
        order: 3;
    }

    .footer__wrap li {
        text-align: center;
    }
}

@media (max-width: 330px) {
    .review__slide-img {
        top: -40%;
    }
}